@page "/groceries"
@using BlazorTest.Data
@using BlazorTest.Data.Data.Models
@using BlazorTest.Utils
@using Microsoft.AspNetCore.Hosting;
@using Radzen;
@using Radzen.Blazor;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject JsConsole jsConsole
@inject IWebHostEnvironment Env
@*
    Using OwningComponentBase ensures that the service and related services
    that share its scope are disposed with the component.
    Otherwise DbContext in ForecastService will live for the life of the
    connection, which may be problematic if clients stay
    connected for a long time.
    We access WeatherForecastService using @Service
*@
@inherits OwningComponentBase<GroceryService>
<h1>Groceries</h1>


<!-- AuthorizeView allows us to only show sections of the page -->
<!-- based on the security on the current user -->
<AuthorizeView>
    <!-- Show this section if the user is logged in -->
    <Authorized>
        @if (groceries == null)
        {
            <!-- Show this if the current user has no data... yet... -->
            <p><em>Loading...</em></p>
        }
        else
        {
            
    <div >
        <RadzenTextBox class="col-xs-11" Placeholder="Add Item..." @oninput=@(args => AddTextChanged(args.Value.ToString())) />
        <RadzenButton class="col-xs-1" Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddNewGrocery" />
    </div>
            <RadzenDataGrid @ref="grid" AllowFiltering="false"
                            AllowColumnResize="false"
                            Data="@displayedGroceries" TItem="Grocery"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Style="height:400px"
                            RowSelect="@EditGrocery">
                <Columns>
                    <RadzenDataGridColumn TItem="Grocery">
                        <Template Context="grocery">
                            <div class="row">
                                <div class="col-md-12">
                                    @grocery.Name
                                    <br />
                                    @grocery.DefaultAmount @grocery.DefaultUnit
                                </div>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    </Authorized>
    <!-- Show this section if the user is not logged in -->
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>


@if (showPopup)
{
    <!-- This is the popup to create or edit a forecast -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Forecast</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <!-- Edit form for the current forecast -->
                <div class="modal-body">
                    <RadzenLabel @bind-value="@editingGrocery.Name" />
                    <div class="row">
                        <div class="col-sm">
                            <RadzenTextBox @bind-Value="@editingGrocery.Name" />
                        </div>
                        <div class="col-sm">
                            <RadzenNumeric @bind-Value="@editingGrocery.DefaultAmount" TValue="double" Placeholder="0.0" Step="1" />
                        </div>
                        <div class="col-sm-">
                            <RadzenDropDown Data="@units" @bind-Value="@editingGrocery.DefaultUnit" />
                            @code {
                                string[] units = Enum.GetNames(typeof(BlazorTest.Data.Data.Models.Units));
                            }
                        </div>
                        <div class="col-sm">
                            <RadzenDropDown @bind-Value="editingGrocery.CategoryId" Data="@categories" TextProperty="Name" ValueProperty="Id" Name="Category" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">`
                        <br />
                        <!-- Button to save the forecast -->
                        <button class="btn btn-primary"
                                @onclick="SaveGrocery">
                            Save
                        </button>
                        <!-- Only show delete butivton if not a new record -->
                        @if (editingGrocery.Id > 0)
                        {
                            <!-- Button to delete the forecast -->
                            <button class="btn btn-primary"
                                    @onclick="DeleteGrocery">
                                Delete
                            </button>
                        }
                        </div>
                    </div>

                  
            </div>
        </div>
    </div>

        </div>
}
